
#app{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #2c3e50
}

p,
h1,
body{
    margin:0px;
    padding: 0px
}

body{
    background: -webkit-linear-gradient(left,#25c481,#25b7c4);
    background: linear-gradient(to right,#25c481,#25b7c4);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.structure{
    min-width: 80%;

}

input{
    padding: 10px;
    border-radius: 5px;
    border:solid 1px;
    margin-right: 5px;
}

    input:focus{
        outline: solid 1px white;
    }

